/* .s{
    width: 50px !important;
    height: 50px !important;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
} */

.img-size-50{
    height: 60px !important;
    width: 60px !important;

    object-fit: cover !important;
}

.profile-user-img{
    border: 3px solid #adb5bd;
}